header {
  width: 100vw;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.ctn-logo {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

h1 {
  color: var(--red);
  font-size: 20px;
}

header img {
  width: 50px;
  display: block;
  margin: auto;
}