/* GENERALES */

:root {
  --white: #ffffff;
  --black: #111111;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --greyDark2: #4b5368;

  --red: #5f0701;
  --red2: #4e0500;
  --red3: #6d0902;
  --red4: #570c07;
  --red5: #3f0905;
  --green: #039508;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "open sans", sans-serif;
  color: var(--white);
  background-color: var(--red);
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

main {
  width: 100vw;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}

h3 {
  font-size: 20px;
  margin-bottom: 25px;
}

section {
  width: 100%;
  margin-bottom: 25px;
}

/* HEADER */

header {
  width: 100vw;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

header img {
  width: 30px;
  display: block;
  margin: auto;
}

.ctn-logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}

h1 {
  font-size: 16px;
}

/* Footer */
/* NAVBAR */

footer {
  position: fixed;
  bottom: 50px;
  width: 100vw;
}

nav {
  width: 80%;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  background-color: var(--red);
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px var(--red4);
}

nav img {
  width: 30px;
}

.menu-ctn {
  position: absolute;
  bottom: -50px;
  background-color: var(--red);
  color: var(--black);
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 11px 11px 22px #3b0101, -11px -11px 22px var(--red4);
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: var(--white);
}

.close {
  color: var(--white);
}

.menu-ctn div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-ctn div p {
  background-color: var(--red4);
  color: var(--white);
  width: fit-content;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 25px 0;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--red2),
    inset -0.2rem -0.2rem 0.5rem var(--red3);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--red5),
    -0.2rem -0.2rem 0.5rem var(--red5);
}

#imprints-links {
  color: var(--white);
}

/* GENERAL */

.reporting-ctn {
  width: 100%;
  margin-bottom: 50px;
  padding: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 50px;
}

/* PAGE SIGNALEMENT INSTANTANE (VICTIM) */

.warning {
  width: 80%;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--red);
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px var(--red4);
}

.victim-ctn {
  margin-top: 75px;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 300px;
  position: relative;
}

.button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--red3);
  background-color: transparent;
  background-image: linear-gradient(145deg, var(--red3), var(--red4));
  box-sizing: border-box;
  box-shadow: inset 2px 2px 0 var(--red3), inset -2px -2px 0px #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container input {
  display: none;
}

.button::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  border-radius: inherit;
  background-color: transparent;
  background-image: linear-gradient(145deg, #262626, var(--red3));
  z-index: -1;
  box-shadow: 11px 11px 22px #3b0101, -11px -11px 22px var(--red4);
}

.button .icon {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.button img {
  width: 100px;
}

.container input:checked+.button {
  box-shadow: inset -2px -2px 0 #a04f4f, inset 2px 2px 0 #1c1c1c;
  border: 4px solid rgba(204, 80, 127, 0.954);
  animation: animeBorder 0.3s linear alternate-reverse infinite;
}

.container input:checked+.button .icon svg {
  fill: rgba(156, 72, 118, 0.878);
  animation: animeFill 0.3s linear alternate-reverse infinite;
}

@keyframes animeFill {
  to {
    fill: rgba(194, 0, 74, 0.954);
  }
}

@keyframes animeBorder {
  to {
    border-color: rgba(175, 0, 96, 0.878);
  }
}

/* PAGE TEMOIGNAGES */

.reporting-form,
.form-container,
.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}


.reporting-form .form_input {
  width: 100%;
}

.form_input,
.form-input {
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  margin-bottom: 25px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--red2),
    inset -0.2rem -0.2rem 0.5rem var(--red3);
  background: none;
  font-family: inherit;
  color: var(--white);
}

option {
  background-color: var(--red3);
}

.form_input::placeholder,
.form-input::placeholder {
  color: var(--white);
}

.form_input:focus,
.form-input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--red4),
    -0.2rem -0.2rem 0.5rem var(--red2);
}

.form_textarea {
  height: 100px;
  padding: 10px;
}

.witness-btn,
.form-button {
  height: 40px;
  width: fit-content;
  padding: 0 25px;
  margin: auto;
  border: none;
  border-radius: 15px;
  box-shadow: none;
}

.witness-btn:hover {
  transform: scale(1.02);
}

.msg_valid,
.msg_invalid {
  font-size: 14px;
  width: fit-content;
  margin: 0 auto 25px auto;
  padding: 10px 25px;
}

.msg_invalid {
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.msg_valid {
  border-bottom: 1px solid var(--green);
  color: var(--green);
}

.alert_msg {
  margin-top: 25px;
}


/* IMPRINTS */

.imprints-section {
  margin-bottom: 150px;
}

.imprints-section article {
  width: 80%;
  margin: 0 auto 25px auto;
}

.imprints-section p {
  line-height: 25px;
  margin-bottom: 10px;
}

.imprints-section li {
  list-style: none;
  line-height: 25px;
}